<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h1>{{title}}</h1>
			
		{{#if user}}
			<div>
			<p>Bienvenido {{user.username}} {{this.username}}</p>
			<p><a href='logout'></p>
			</div>
		{{else}}
			<a href='login/auth/facebook'>Login con fb</p>
		{{/if}}		
	</div>
</div>